.container-fluid > .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-submit{
    font-size: .95rem !important;
}

.submit-icon{
     margin-left: .5rem;
}

main{
    min-height: 50vh;
}

body{
    min-height: 100vh;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/

    .ingresar form{
        display: inline;
    }

    .login-container{
        display: flex !important;
        justify-content: center !important;
    }
}

/* XL */
@media(min-width: 1200px){

    .form-group{
        width: 10rem;
    }

    .login-container{
        display: flex !important;
        justify-content: center !important;
    }   

    @media(min-width: 1400px){
        main{
            min-height: 53.6vh;
        }
    }
}