section{
    --primary-color: #222;
    --primary-color-hover: #dddddd0d;
    --secondary-color: #ddd;
    --secondary-color-hover: #0d4a7a00;
    --tertiary-color: #222;
}

.preview{
    overflow: hidden;
    position: relative;
    line-height: 2rem;
    max-height: 4rem;
}

.preview:before{
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding-left: .5rem;
}

.preview.card-text{
    line-height: 1rem;
    text-align: justify;
}

.preview p{
    margin-bottom: 0;
}

.cards .btn{
    background-color: var(--color-uno) !important;
    outline: none;
    border: transparent;
}

.cards .card-footer a{
    color: var(--color-uno);
}

img.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}