/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none !important;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    --color-uno: rgb(0, 69, 125);
    --color-uno-hover: #0069d9;
    --color-dos: #55c9d8;
    --color-tres: rgb(148, 149, 142);
    --color-cuatro: #231F20;
    --color-cinco: #dddddd;
    --color-fondo: linear-gradient(to top, #efefef 0%, #f5f8f9b5 75%, #e7e8e9 100%);
    --fuente-encabezados: 'Quicksand', sans-serif;
    height: auto !important;
    min-height: 100vh;
    margin: 0;
}

.iconos-servicios.icon{
    font-size: 3em;
}

.btn:active{
    background: none !important;
    color: var(--color-uno) !important;
}

.btn.btn-primary{
    background-color: var(--color-uno);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: .25rem;
    font-family: gotham-bold;
    font-size: .8rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 1px;
}

.btn.btn-primary:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;;
}

.btn.btn-secondary{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: auto;
    width: fit-content;
    color: var(--color-uno);
    transition: 500ms;
    padding: 0 20px;
    height: 50px;
    border-radius: .25rem;
    font-family: gotham-bold;
    font-size: .8rem;
    line-height: 1.2;
    letter-spacing: 1px;
}

.btn.btn-secondary:hover{
    background-color: var(--color-uno);
    color: #fff;
}

/*Separadores*/
.separador{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    z-index: 5;
    height: 25rem;
}

.separador h2{
    padding: 0 15px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    /* font-size: 1.8rem; */
    /* font-family: gotham-bold; */
}

.separador p{
    position: relative;
    font-size: 1rem;
    font-family: gotham-light;
    z-index: 2;
    text-decoration: none;
}

/*Navmenu*/
.nav-menu{
    --primary-color: white;
    --tertiary-color: rgba(0,0,0,.5);
    height: 8.5rem;
    max-height: 8.5rem;
}

.menu-list .nav-link,
.menu-list .collapsable-button,
.menu-list .collapsable-link{
    font-family: 'Montserrat', sans-serif !important;
    font-size: .85rem;
}

.nav-menu.fixed{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    z-index: 14;
    height: 5rem !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.nav-menu.fixed::before{
    display: none;
}

.nav-menu .nav-title{
    flex-basis: 100%;
    background: url(../img/recursos/logo/01-original.png) no-repeat center center;
    background-size: contain;
    height: 8.5rem;
}

.nav-menu.fixed .nav-title{
    height: 5rem;
}

.nav-menu .nav-title h1{
    font-size: 0;
    width: 100px;
}

.nav-menu .menu-list .nav-link,
.collapsable .collapsable-button,
.collapsable .collapsable-menu .collapsable-link{
    color: var(--color-cuatro);
}

.nav-menu .menu-list .nav-link:hover,
.collapsable .collapsable-button:hover,
.collapsable .collapsable-menu .collapsable-link:hover{
    color: var(--color-uno);
}

.sidebar .sidebar-content .sidebar-menu .nav-link{
    font-family: gotham-light;
    color: var(--color-cuatro);
}

.nav-menu::before{
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 25px), 0% 100%);
    background: white;
    z-index: 2;
    width: calc(100% + 2px);
    height: 25px;
}

a:hover{
    color: transparent;
    text-decoration: none;
}

.support-box{
    --primary-color: var(--color-cuatro);
    width: 100%;
}

.modal-open .modal{
    height: fit-content;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

/*WhatsApp*/
.whatsapp{
    background: #25D366;
}

/*Footer*/
#footer{
    background-color: var(--color-cuatro);
    color: #fff
}

#footer a{
    color: #fff;
}

.popup-notification{
    --primary-color: var(--color-cuatro);
    --secondary-color: var(--color-cinco);
}

/* MD */
@media(min-width: 768px){
    .nav-menu::before{
        bottom: -33px;
        height: 35px;
    }

    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;}
}

/* LG */
@media(min-width: 1024px){
    
    .nav-menu .menu-list li{
        margin-left: 0;
    }
    
    .nav-menu .nav-row.first-row:first-of-type{
        display: flex;
        justify-content: center;
        flex-basis: 25%;
        height: 8rem;
    }

    .nav-menu.fixed .nav-row.first-row:first-of-type{
        padding: 0 1rem;
    }

    .nav-menu .nav-row.first-row:first-of-type .nav-title{
        height: 8rem;
    }
    
    .nav-menu .second-row{
        flex-basis: 70%;
        min-width: 70%;
        height: 6.3rem;
    }

    .nav-menu.fixed .nav-row.first-row:first-of-type .nav-title{
        height: 4.8rem;
    }

    .nav-menu.fixed .second-row{
        height: 6.3rem;
    }

    .btn.btn-primary{
        font-size: 1.1rem;
    }
}