*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none !important;
}

html{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    --color-uno: rgb(0, 69, 125);
    --color-dos: #55c9d8;
    --color-tres: rgb(148, 149, 142);
    --color-cuatro: #222222;
    --color-cinco: #dddddd;
    --color-fondo: linear-gradient(to top, #efefef 0%, #f5f8f9b5 75%, #e7e8e9 100%);
    --fuente-encabezados: 'Quicksand', sans-serif;
    min-height: 100vh;
    margin: 0;
}

a:hover{
    color: transparent;
    text-decoration: none;
}

.invalid-tooltip{
    --primary-color: var(--color-cuatro);
    width: 100%;
}

.modal-open .modal{
    height: fit-content;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}