.popup-notification{
    --primary-color: #222222;
    --secondary-color: #dddddd;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 2rem;
    /* right: 0; */
    bottom: -5rem;
    width: fit-content;
    /* margin: auto; */
    border-radius: .2rem;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: .5rem 1.5rem;
    font-size: 1.1rem;
    z-index: 100;
    transition: all 1.5s cubic-bezier(0.01, 0.49, 0.44, 1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
}

.popup-notification.opened{
    bottom: 2rem;
}

.popup-notification .popup-notification-info{
    margin: 0;
    padding: 0;
}

.popup-notification .popup-notification-closer{
    cursor: pointer;
    font-style: normal;
}

.popup-notification .popup-notification-text{
    color: var(--secondary-color);
    margin: 0;
    margin-right: 1rem;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}