.edit-user{
    flex-wrap: wrap;
    --primary-color: #222;
    --primary-color-hover: #dddddd0d;
    --secondary-color: #ddd;
    --secondary-color-hover: #0d4a7a00;
    --tertiary-color: #222;
}

.edit-user section{
    width: 100%;
}

.edit-user section > .title{
    background: var(--primary-color);
    position: relative;
}

.edit-user section > .title h2{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.edit-user section > .title .title-button{
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: flex;
    align-items: center;
}

.edit-user section > .content{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.edit-user section button{
    background: var(--primary-color);
    border-radius: .25rem;
    color: var(--secondary-color);
    outline: none;
    border: none;
}

.edit-user section > .content form{
    width: 100%;
}

/* MD */
@media(min-width: 768px){
    /**/
}

/* LG */
@media(min-width: 1024px){
    /**/
}

/* XL */
@media(min-width: 1200px){
    /**/
}