/* Gotham */
@font-face{
    src: url(Gotham/Gotham-Book.otf);
    font-family: gotham-book;
}
@font-face{
    src: url(Gotham/Gotham-Light.otf);
    font-family: gotham-light;
}
@font-face{
    src: url(Gotham/Gotham-Bold_0.otf);
    font-family: gotham-bold;
}
@font-face{
    src: url(Gotham/Gotham-Ultra.otf);
    font-family: gotham-ultra;
}