@charset "UTF-8";

@font-face {
  font-family: "axial-icons";
  src:url("fonts/axial-icons.eot");
  src:url("fonts/axial-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/axial-icons.woff") format("woff"),
    url("fonts/axial-icons.ttf") format("truetype"),
    url("fonts/axial-icons.svg#axial-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "axial-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "axial-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuerpo:before {
  content: "\61";
}
.icon-columna-1:before {
  content: "\62";
}
.icon-columna-2:before {
  content: "\63";
}
.icon-masaje:before {
  content: "\64";
}
.icon-cuello:before {
  content: "\65";
}
.icon-hueso:before {
  content: "\66";
}
.icon-cerebro:before {
  content: "\67";
}
.icon-espina:before {
  content: "\68";
}
.icon-rayos:before {
  content: "\69";
}
.icon-atras:before {
  content: "\6a";
}
