/* banner */
.jumbotron{
    position: relative;
    background: url('/img/bg-demo.jpg') center center no-repeat;
    background-attachment: fixed;
    height: 70vh;
    background-size: cover;
}

.jumbotron .container{
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 100%;
    height: 100%;
    top: 0;
}

.jumbotron .container h2{
    color: var(--color-uno);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    font-weight: bold;
}

.jumbotron .container h2 span > span{
    color: var(--color-uno);
}

.enviar-mensaje{
    background-color: var(--color-uno);
    border: none;
}

/* main */
.contenedor{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.separador-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-uno);
}

.separador-banner::before{
    content: "";
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 25px;
    background: var(--color-uno);
    clip-path: polygon(100% 0%, 100% 100%, -20% 100%);
}

.separador-banner::after{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
    height: 25px;
    background: var(--color-uno);
    clip-path: polygon(0% 0%, 120% 0%, 0% 100%);
    z-index: 1;
}

.separador-banner p{
    font-size: 1.3rem;
    font-family: 'Gotham Medium';
    z-index: 2;
}

.quotes{
    position: absolute;
    color: rgba(0,0,0,.5);
}

.quote-left{
    top: 15px;
    left: 15px;
}

.quote-right{
    bottom: 15px;
    right: 15px;
}

.quote-icon{
    font-size: 2rem;
    z-index: 1;
}

/* contenido */
.nuestros-servicios{
    background-color: var(--color-dos);
}

.cartas-servicios .iconos-servicios{
    color: var(--color-dos);
}

.cartas-servicios .card-title{
    color: var(--color-uno);
    font-weight: bold;
}

.cartas-servicios .card-text{
    color: var(--color-uno);
}

/* team */
.equipo{
    /* background: var(--color-cinco); */
}

.listado{
    overflow-x: auto;
    width: 100%;
}

.miembros{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.miembro.card{
    min-width: 83vw;
    flex-basis: 83vw;
    height: 500px;
    border-radius: .25rem;
    overflow: hidden;
}

.card .card-background{
    width: 100%;
    height: 100%;
}

.card .card-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.miembro.card .card-body{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.25rem;
    background: white;
    transition: 500ms;
}

.miembro.card:target .card-body,
.miembro.card.active .card-body{
    height: 100%;
}

.miembro.card .card-body .card-title{
    position: relative;
    display: block;
    color: var(--color-dos);
}

.miembro.card:target .card-body .card-title,
.miembro.card.active .card-body .card-title{
    margin-bottom: .75rem !important;
    padding-bottom: .75rem;
    border-bottom: 2px solid var(--color-tres);
}

.miembro.card .card-body .card-title .title-icon{
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-uno);
    color: white;
    transform: translateY(-50%);
}

.miembro.card:target .card-body .card-title .title-icon,
.miembro.card.active .card-body .card-title .title-icon{
    top: 25%;
    transform: translateY(-25%);
}

.fa-sort-up:before{
    transform: translateY(20%);
}

.fa-sort-down:before{
    transform: translateY(-20%);
}

.miembro.card .card-body .card-content{
    height: 0;
    overflow: hidden;
}

.miembro.card:target .card-body .card-content,
.miembro.card.active .card-body .card-content{
    height: fit-content;
}


/* form */

/* .contacto{
    background: url('/img/bg-form.jpg') no-repeat center center;
}

.contacto .info-fondo{
    height: 20rem;
    background-color: black;
    opacity: .7;
} */

.container-contact100{
    padding: 0 !important;
}

.container-contact100 #message{
    resize: none !important;
}

.contact-data{
    background-image: url('/img/bg-01.jpg');
    background-attachment: fixed;
}

/* MD */
@media(min-width: 768px){
    .jumbotron .container h2 span{
        color: var(--color-uno);
    }

    .miembro.card{
        min-width: 50vw;
        flex-basis: 50vw;
        height: 450px;
    }

    .separador-banner::before{
        top: -48px;
        height: 50px;
    }
    
    .separador-banner::after{
        bottom: -48px;
        height: 50px;
    }

    .quote-left{
        left: 15%;
    }
    
    .quote-right{
        right: 15%;
    }
}

/* LG */
@media(min-width: 1024px){
    .listado{
        overflow-x: hidden;
        width: 100%;
    }

    .miembros{
        flex-wrap: wrap;
    }

    .miembro.card{
        min-width: calc((100% / 3) - 1rem);
        flex-basis: calc((100% / 3) - 1rem);
        height: 500px;
    }

    .miembro.card:not(:first-of-type),
    .miembro.card:not(:nth-of-type(2)),
    .miembro.card:not(:nth-of-type(3)){
        margin-top: 1rem;
    }

    .quote-left{
        left: 20%;
    }
    
    .quote-right{
        right: 20%;
    }
}

/* XL */
@media(min-width: 1200px){
    /**/
}