.parent-row{
    margin: 0 !important;
}

h2{
    font-family: 'Tajawal', sans-serif !important;
    font-size: 2.5rem !important;
}

.nav-menu{
    height: 8.5rem !important;
    max-height: 8.5rem !important;
}

/* banner */
.jumbotron{
    position: relative;
    background: url('/img/bg-demo.jpg') -215px center no-repeat;
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
}

.jumbotron .container{
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 100%;
    height: 100%;
    top: 0;
}

.jumbotron .container h2{
    color: var(--color-uno);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    font-size: 1.8rem;
    font-family: 'Tajawal', sans-serif !important;
}

.jumbotron .container h2 span > span{
    color: #fff;
    display: block;
}

.jumbotron .container h2 > span:last-child{
        color: #fff;
        display: block;
        font-family: 'Montserrat', sans-serif;
    }

.enviar-mensaje{
    background-color: var(--color-uno);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: .25rem;
    font-family: gotham-bold;
    font-size: .8rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 1px;
}

/* main */
.contenedor{
    padding: 0;
}

.separador-banner,
.separador-call-to-action{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(37, 36, 36) 0%, rgba(0,69,124,1) 100%);
    padding: 3rem;
    z-index: 5;
}

.separador-banner::before{
    content: "";
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 25px;
    background: #01447a;
    clip-path: polygon(100% 0%, 100% 100%, -20% 100%);
}

.separador-banner::after{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
    height: 25px;
    background: #242424;
    clip-path: polygon(0% 0%, 120% 0%, 0% 100%);
    z-index: 1;
}

.separador-banner p{
    position: relative;
    font-size: 1rem;
    font-family: gotham-light;
    z-index: 2;
    text-decoration: none;
}

.separador-call-to-action{
    position: relative;
    background-color: transparent;
    align-items: flex-start;
    height: fit-content;
    background-image: url('/img/bg-call.png');
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 25px), 0% 100%);
}

.separador-call-to-action::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 25px), 0% 100%);
    background: rgba(35, 31, 32, 0.6);
}

.separador-call-to-action .row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.separador-call-to-action .row h2{
    padding: 0 15px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    font-size: 1.8rem;
    font-family: gotham-bold;
}

.separador-call-to-action .row h2 .text-row{
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.separador-call-to-action .row .go-blog{
    background-color: var(--color-uno);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-radius: .25rem;
    font-family: gotham-bold;
    font-size: .8rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 1px;
}

.quotes{
    position: absolute;
    color: rgba(0,0,0,.5);
}

.quote-left{
    top: 15px;
    left: 15px;
}

.quote-right{
    bottom: 15px;
    right: 15px;
}

.quote-icon{
    font-size: 2rem;
    z-index: 1;
}

/* servicios */
.especialidades{
    background-color: #fff;
}

#especialidades h2{
    color: var(--color-cuatro);
    font-family: gotham-bold;
}

#nuestros-servicios p{
    font-family: 'Montserrat', sans-serif;
    height: 350px;
}

#especialidades span{
    padding-top: 2rem;
}

.cartas-servicios .iconos-servicios{
    color: var(--color-uno);
    transition: 500ms;
}

.cartas-servicios:hover .iconos-servicios{
    color: var(--color-uno);
}

.cartas-servicios .card-title:hover{
    color: var(--color-uno);
}

.cartas-servicios .card-title{
    color: #000;
    font-family: gotham-light;
    transition: 500ms;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.cartas-servicios:hover .card-title{
    color: var(--color-uno);
}

.cartas-servicios .card-text{
    color: #000;
    height: 22rem;
}

.cartas-servicios.invisible p{
    height: 0;
}

.cartas-servicios p{
    height: 250px;
    transition: 500ms;
    overflow: hidden;
}

.seccion-aparte{
    background-color: #fafafa;
}

.seccion-aparte .row div ul li{
    background-color: #fafafa !important;
    padding-bottom: 0 !important;
}

.patologias h2{
    color: var(--color-cuatro);
}

.patologias li{
    font-family: 'Montserrat', sans-serif;
}

.patologias img{
    width: 95%;
    height: 650px;
    object-fit: contain;
}

/* team */
#equipo h2{
    width: 100%;
    display: block;
    font-size: 2rem;
    color: var(--color-cuatro);
    line-height: 1.2;
    text-align: center;
}

.listado{
    overflow-x: auto;
    width: 100%;
}

.miembros{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    min-width: 100%;
}

.miembro.card{
    min-width: 83vw;
    flex-basis: 83vw;
    height: 500px;
    border-radius: .25rem;
    overflow: hidden;
}

.card .card-background{
    width: 100%;
    height: 100%;
    text-align: center;
}

.card .card-background img{
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin-top: 3rem;
}

.miembro.card .card-body{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.25rem;
    background: white;
    transition: 500ms;
}

.miembro.card .card-body h3{
    font-size: 1.3rem;
}

.miembro.card:target .card-body,
.miembro.card.active .card-body{
    height: 100%;
    background-color: #fafafa;
}

.miembro.card .card-body .card-title{
    position: relative;
    display: block;
    color: var(--color-uno);
    text-decoration: none;
    border-bottom: 2px solid white;
    margin-bottom: .75rem !important;
    padding-bottom: .75rem;
    font-family: 'Montserrat', sans-serif;
    transition: 500ms;
    text-align: center;
}

.miembro.card .card-body:hover .card-title{
    /* border-bottom: 2px solid var(--color-tres); */
}

.miembro.card:target .card-body .card-title,
.miembro.card.active .card-body .card-title{
    border-bottom: none;
}

.miembro.card:target .card-body .card-title .title-icon,
.miembro.card.active .card-body .card-title .title-icon{
    top: 25%;
}

.fa-sort-up:before{
    transform: translateY(20%);
}

.fa-sort-down:before{
    transform: translateY(-20%);
}

.miembro.card .card-body .card-content{
    height: 0;
    overflow: hidden;
}

.miembro.card:target .card-body .card-content,
.miembro.card.active .card-body .card-content{
    height: fit-content;
    text-align: center;
}

.miembro.card .btn.btn-primary{
    background-color: var(--color-uno);
    border: none;
    font-family: gotham-light;
}

.container-contact100{
    padding: 0 !important;
}

.container-contact100 #message{
    resize: none !important;
}

input.input100{
    height: 38px !important;
}

.contact-data{
    background-image: url('/img/bg-01.jpg');
    background-attachment: fixed;
    z-index: 1;
    padding-top: 40px;
}

.empty-miembro.card{
    min-width: 83vw;
    flex-basis: 83vw;
    height: 500px;
    border-radius: .25rem;
}

.empty-miembro .empty-background{
    width: 100%;
    height: 100%;
    background-color: #C6C6C6;
}

.empty-miembro .empty-nombre{
    width: 100%;
    height: 2rem;
    background-color: #C6C6C6;
}

.seccion-img-random{
    flex-wrap: wrap;
}

.seccion-img-random .img-randoms{
    width: 100% !important;
    height: 500px;
    object-fit: cover;
}

.contact-form{
    background-color: #fafafa;
}

.wrap-contact100{
    width: 100%;
    flex-direction: row;
    background-color: #fafafa;
}

.wrap-contact100 form{
    position: relative;
}

.wrap-contact100 form::before{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    clip-path: polygon(0% 0%, 120% 0%, 0% 100%);
    background-color: #fafafa;
    z-index: 2;
    width: calc(100% + 2px);
    height: 25px;
    transform: translateX(-1px);
}

.contact100-form-title{
    font-family: 'Tajawal', sans-serif;
    font-size: 2.5rem;
    color: var(--color-cuatro);
}

.wrap-contact100 form .label-input100{
    border: none;
}

.contact100-form-btn{
    background-color: var(--color-uno);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: .25rem;
    font-family: gotham-bold;
    font-size: .8rem;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: none;
}

.contact100-more::before{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 31, 32, 0.6);
}

.input100{
    font-family: gotham-book;
    font-size: 1rem;
}

.txt1{
    font-family: gotham-bold;
}

.txt2,
.txt3{
    color: var(--color-tres);
    font-family: gotham-light;
}

.input100:focus + .focus-input100{
    border: 1px solid var(--color-uno);
}

.listado .miembro{
    height: 350px !important;
}

/* MD */
@media(min-width: 768px){
    .jumbotron{
        position: relative;
        background: url('/img/bg-demo.jpg') center center no-repeat;
        background-attachment: fixed;
        height: calc(100vh - 8.5rem + 50px);
        background-size: cover;
    }

    .jumbotron .container h2 > span:last-child{
        color: #fff;
        display: block;
    }

    .jumbotron .container h2 span > span{
        color: #fff;
        display: inline;
    }

    #especialidades p{
        height: 400px;
        padding-top: 20px;
    }

    .cartas-servicios.col-md-3{
        flex: 0 0 30%;
        max-width: 30%;
        background-color: #fff;
        border: none;
    }

    .cartas-servicios .card-text{
        width: 15rem;
        margin: auto;
        font-family: 'Montserrat', sans-serif !important;
    }

    .patologias img{
        width: 100%;
    }

    .miembros{
        justify-content: center;
    }

    .miembro.card{
        min-width: 50vw;
        flex-basis: 50vw;
        height: 450px;
        border: none;
    }

    .separador-banner p{
        font-size: 1.2rem;
    }

    .separador-banner::before{
        top: -48px;
        height: 50px;
    }

    .separador-call-to-action{
        clip-path: polygon(0% 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    }
    
    .separador-call-to-action::before{
        clip-path: polygon(0% 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    }
    
    .separador-banner::after{
        bottom: -48px;
        height: 50px;
    }

    .cartas-servicios .card-title{
        font-size: 1.1rem;
        height: 2rem;
    }

    .quote-left{
        left: 15%;
    }
    
    .quote-right{
        right: 15%;
    }

    .empty-miembro.card{
        min-width: 50vw;
        flex-basis: 50vw;
        height: 450px;
    }

   

    .rs1-wrap-input100, .rs2-wrap-input100{
        width: 100% !important;
    }

    .contact100-form{
        width: 100% !important;
    }

    .contact100-more{
        width: 100% !important;
    }

    .wrap-contact100 form::before{
        left: calc((-100% / 10) * 2);
        bottom: -48px;
        height: 50px;
        width: calc(((100% / 10) * 3) + 100%);
    }

    .donde-encontrarnos{
        padding: 0 !important;
    }
    
    .donde-encontrarnos iframe{
        width: 100%;
    }
}

.seccion-aparte div div ul{
    border: none;
}

.seccion-aparte div div ul{
    font-family: 'Montserrat', sans-serif !important; 
}

/* LG */
@media(min-width: 1024px){
    .jumbotron .container h2{
        display: flex;
        flex-wrap: wrap;
    }

    .jumbotron .container h2 .text-row{
        flex-basis: 100%;
    }

    #especialidades .cartas-servicios.invisible p{
        height: 0;
    }

    #especialidades p{
        height: 300px;
        width: 400px;
        font-size: .93rem;
    }

    .listado{
        overflow-x: hidden;
        width: 100%;
    }

    .seccion-aparte .row{
        margin: auto !important;
    }

    .separador-banner p{
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
    }

    .miembros{
        flex-wrap: wrap;
    }

    .miembro.card{
        min-width: calc(((80% - 2rem) / 2) - 1rem);
        flex-basis: calc(((80% - 2rem) / 2) - 1rem);
        height: 500px;
    }

    .miembros .miembro.card:nth-child(3n){
        margin-right: 0 !important;
    }

    .miembro.card:not(:first-of-type),
    .miembro.card:not(:nth-of-type(2)),
    .miembro.card:not(:nth-of-type(3)){
        margin-top: 1rem;
    }

    .quote-left{
        left: 25%;
    }
    
    .quote-right{
        right: 25%;
    }

    .empty-miembro.card{
        min-width: calc(((100% - 2rem) / 3) - 1rem);
        flex-basis: calc(((100% - 2rem) / 3) - 1rem);
        height: 500px;
    }

    .ultima-list{
        border-bottom: none !important;
    }

    .wrap-contact100 form{
        order: 2;
    }

    .wrap-contact100 form::before{
        top: 0;
        height: 50px;
        left: calc((-100% / 8) * 4);
        clip-path: polygon(0% 0%, 120% 0%, 0% 100%);
        width: calc(((100% / 8) * 4) + 100%);
        background-color: white;
    }

    .contact100-more{
        order: 1;
    }

    /* error tooltip */
    .support-tooltip.showed::before{
        top: 50px;
        left: 15px;
        right: 0;
        text-align: center;
        max-width: 45%;
    }

    .support-tooltip.showed::after{
        right: 35px;
        top: 92px;
    }    
}

/* XL */
@media(min-width: 1200px){
    
    .seccion-img-random .img-randoms{
        width: 100% !important;
        height: 450px !important;
    }

    #nuestros-servicios p{
        width: 600px;
    }
}

