.add-button,
.less-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.preview{
    text-align: left;
    max-height: 3rem;
}

.preview:before{
    right: 0;
    bottom: .3rem;
    padding-right: .5rem;
}

.tabs{
    min-height: calc(100vh - 6.3rem);
}

.tabs .tab-body .tab-content section .content table.noticias tr .accions{
    min-width: calc((25vw * 3) + 2rem);
}

.tabs .tab-body .tab-content section .content table tr th,
.tabs .tab-body .tab-content section .content table tr td{
    width: 50vw;
    min-width: 50vw;
    display: flex;
    border: none;
}

#id,
#iconos-tabla{
    min-width: 3.5rem;
    width: 3.5rem;
}

.contenido{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview:before{
    right: 0;
    bottom: 0;
    z-index: -999;
    padding: 0;
}

.tabs .tab-menu{
    background-color: #dddddda8;
}

.title{
    background-color: transparent !important;
}

.title h1{
    color: var(--color-cuatro) !important;
}

.tabs .tab-body .tab-content section .accions a, .tabs .tab-body .tab-content section button{
    background-color: var(--color-uno);
}

form .crear-noticia{
    background-color: var(--color-cuatro) !important;
}

.tabs .tab-menu .tab-button{
    color: var(--color-cuatro);
}

.tabs .tab-menu .tab-button.opened .tab-icon{
    color: var(--color-cuatro);
    z-index: 2;
}

.tabs .tab-menu .tab-button.opened .tab-text{
    background: #0000000f;
}

.preview{
    flex-wrap: wrap;
}

.preview p{
    flex-basis: 100%;
    height: 100%;
}

/* MD */
@media(min-width: 768px){
    .tabs .tab-body .tab-content section .content table.noticias tr .accions{
        min-width: calc((15vw * 3) + 1rem);
    }

    .tabs .tab-body .tab-content section .content table tr th,
    .tabs .tab-body .tab-content section .content table tr td{
        width: 35vw;
        min-width: 35vw;
    }
}

/* LG */
@media(min-width: 1024px){
    .tabs .tab-body .tab-content section .content table.noticias tr th,
    .tabs .tab-body .tab-content section .content table.noticias tr td{
        width: calc((100vw - 20vw - (3.5rem * 4)) / 3);
        min-width: calc((100vw - 20vw - (3.5rem * 4)) / 3);
    }
    
    .tabs .tab-body .tab-content section .content table.noticias tr .id{
        width: 11.11%;
        min-width: 11.11%;
    }

    .tabs .tab-body .tab-content section .content table.noticias tr .accions{
        width: 33.33%;
        min-width: 33.33%;
    }
    
    .tabs .tab-body .tab-content section .content table.noticias tr .accions a,
    .tabs .tab-body .tab-content section .content table.noticias tr .accions button{
        width: calc((100% - 1rem) / 3);
        min-width: calc((100% - 1rem) / 3);
    }

    .tabs .tab-body .tab-content section .content table.miembros tr th,
    .tabs .tab-body .tab-content section .content table.miembros tr td{
        width: calc((100vw - 20vw - (3.5rem * 4)) / 3);
        min-width: calc((100vw - 20vw - (3.5rem * 4)) / 3);
    }
    
    .tabs .tab-body .tab-content section .content table.miembros tr .id{
        width: 11.11%;
        min-width: 11.11%;
    }

    .tabs .tab-body .tab-content section .content table.miembros tr .accions{
        width: 22.22%;
        min-width: 22.22%;
    }
    
    .tabs .tab-body .tab-content section .content table.miembros tr .accions a,
    .tabs .tab-body .tab-content section .content table.miembros tr .accions button{
        width: calc((100% - 1rem) / 2);
        min-width: calc((100% - 1rem) / 2);
    }
}