.add-button,
.less-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.preview{
    text-align: left;
    max-height: 3rem;
}

.preview:before{
    right: 0;
    bottom: .3rem;
    padding-right: .5rem;
}

.tabs{
    min-height: calc(100vh - 6.3rem);
}

.tabs .tab-body .tab-content section .content table tr .icons{
    width: fit-content;
    min-width: fit-content;
}

.tabs .tab-body .tab-content section .content table tr th,
.tabs .tab-body .tab-content section .content table tr td{
    width: 50vw;
    min-width: 50vw;
    display: flex;
    border: none;
}

.tabs .tab-body .tab-content section .content table tr .id,
.tabs .tab-body .tab-content section .content table tr .icons{
    width: 3.5rem;
    min-width: 3.5rem;
}

.contenido{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preview:before{
    right: 0;
    bottom: 0;
    z-index: -999;
    padding: 0;
}

.tabs .tab-menu{
    background-color: #dddddda8;
}

.title{
    background-color: transparent !important;
}

.title h1{
    color: var(--color-cuatro) !important;
}

.input-file .file-button{
    --primary-color: var(--color-uno);
}

.tabs .tab-menu .tab-button{
    color: var(--color-cuatro);
}

.tabs .tab-menu .tab-button.opened .tab-icon{
    color: var(--color-cuatro);
    z-index: 2;
}

.tabs .tab-menu .tab-button.opened .tab-text{
    background: #0000000f;
}

.preview{
    flex-wrap: wrap;
}

.preview p{
    flex-basis: 100%;
    height: 100%;
}

.tab-button.opened{
    background: var(--color-uno);
}

.tabs .tab-body .tab-content section .btn.btn-icon{
    background: var(--color-uno);
    color: white;
    transition: 500ms;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs .tab-body .tab-content section .btn.btn-icon:hover{
    background: var(--color-uno-hover);
    color: white;
}

.tabs .tab-body .tab-content section .icons a,
.tabs .tab-body .tab-content section button{
    background: var(--color-uno);
    color: #fff;
}

.tabs .tab-body .tab-content section .icons a:hover,
.tabs .tab-body .tab-content section button:hover{
    background: var(--color-uno-hover);
    color: #fff;
}

/* MD */
@media(min-width: 768px){
    .tabs .tab-body .tab-content section .content table tr th,
    .tabs .tab-body .tab-content section .content table tr td{
        width: 30vw;
        min-width: 30vw;
    }
}

/* LG */
@media(min-width: 1024px){
    .tabs .tab-body .tab-content section .content table tr th,
    .tabs .tab-body .tab-content section .content table tr td{
        width: calc((100% / 4) + 2rem);
        min-width: calc((100% / 4) + 2rem);
    }
}