.contenedor{
    padding: 0;
}

h1{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    color: #333;
}

h2{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    color: #333;
}

/*Separadores*/
.separador-call-to-action{
    background: url("/img/quienes/01-equipo.jpg") no-repeat 25px center;
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 25px), 0% 100%);
}

.separador-call-to-action::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 25px, 100% 0%, 100% calc(100% - 25px), 0% 100%);
    background: rgba(35, 31, 32, .1);
}

.info-nosotros p{
    color: #333;
    padding: 0 1rem;
    line-height: 1.6rem;
}

.miembro img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}


.miembro-titulo{
    font-size: 1.35rem;
}

.miembro-puesto{
    font-size: 1.2rem;
}

.miembro-cv{
    padding: 0;
}

/* MD */
@media(min-width: 768px){
/*Separadores*/
    .separador-call-to-action{
        clip-path: polygon(0% 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    }

    .separador-call-to-action::before{
        clip-path: polygon(0% 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
    }
    .info-nosotros p{
        font-size: 1.09rem;
    }
}

/*LG*/
@media(min-width: 1024px){
    .equipo-div img{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 550px;
    }

    hr{
        width: 80%;
        background-color: var(--color-cinco);
    }
}

/* XL */
@media(min-width: 1200px){
    /**/
}