section{
    --color-uno: rgb(0, 69, 125);
    --color-dos: #55c9d8;
    --color-tres: rgb(148, 149, 142);
    --color-cuatro: #231F20;
    --color-cinco: #dddddd;
}

section p{
    margin: 2rem 0;
    line-height: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}

section h1, h2, h3{
    color: #000;
    font-family: 'Tajawal', sans-serif;

}

img.img-fluid.rounded{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.menu-servicios-detallados .list-group-item.active{
    background-color: var(--color-uno);
}

.menu-servicios-detallados .list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.orden-1{
    order: 1;
}

.orden-2{
    order: 3;
}

.orden-3{
    order: 2;
}

/* MD */
@media(min-width: 768px){
    /**/

    img.img-fluid.rounded{
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: top;
    }
}

/* LG */
@media(min-width: 1024px){
    /**/
    .full-lg{
        width: 100% !important;
    }
}

/* XL */
@media(min-width: 1200px){
/**/
}